bcrypt==3.2.0
cffi==1.15.0
cryptography==36.0.2
importlib-metadata==4.12.0
importlib-resources==5.4.0
netaddr==0.8.0
paramiko==2.4.2
pyasn1==0.4.8
pycparser==2.21
PyNaCl==1.5.0
python-dateutil==2.8.2
simple-term-menu==1.4.1
six==1.16.0
typing_extensions==4.3.0
visidata==2.10
zipp==3.6.0
